
@{
    ViewData["Title"] = "IP";
}

<h2>你的公网IP：@ViewData["IP"]</h2>

<a asp-action="EditIP" asp-route-ip="@ViewData["IP"]">修改DDNS IP</a>

<hr />

<h2>你的vicp公网IP：@ViewData["DDNSIP"]</h2>

<a asp-action="EditIP" asp-route-ip="@ViewData["DDNSIP"]">修改DDNS IP</a>

<hr />

<h2>你的ASUS公网IP：@ViewData["ADDNSIP"]</h2>

<a asp-action="EditIP" asp-route-ip="@ViewData["ADDNSIP"]">修改DDNS IP</a>